[Unit]
Description=Corese-KGRAM Server for the SPARQL micro-services demo
After=network.target

[Service]
Type=forking
User=fmichel
ExecStart=/home/fmichel/Corese/corese-server-demo-sms.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
