version: '3.2'
services:
  corese:
    image: frmichel/corese4sms:v4.3.1
    networks:
      - sms-net
    volumes:
      - "./logs:/usr/local/corese/log"
      - "./services:/services"
  mongo:
    image: mongo:3.7
    networks:
      - sms-net
  sparql-micro-service:
    image: frmichel/sparql-micro-service:v0.5.3
    networks:
      - sms-net
    ports:
      - "80:80"
    volumes:
      - "./logs:/var/www/html/sparql-ms/logs"
      - "./services:/services"
      - type: bind
        source: ./config/sparql-micro-service.ini
        target: /var/www/html/sparql-ms/src/sparqlms/config.ini
networks:
  sms-net:
    driver: bridge
